body {
    background-color: rgb(110, 103, 103);
    height: 100vh;
    
    
    display: grid;
    grid-template-rows: 1fr 8fr;

    

    
}


    header {
        display: flex;
        justify-content: center;
        
    }


        nav {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
        }

    .content {
        display: flex;
        justify-content: center;
    }

        .home {
            height: 100%;
            display: grid;
            grid-template-rows: 1fr 4fr 1fr;
        }

            .title,.description,.hours {
                display: flex;
                justify-content: center;
                align-items: center;
            }