body {
    background-color: rgb(110, 103, 103);
    
    display: grid;
    
}


header 

    nav {

        display: flex;
        justify-content: space-evenly;

    }

.content {

    display: flex;
    justify-content: center;

}

    .home,.contact {
        background-color: rgb(32, 201, 88);
        width: 80vw;
        height: 90vh;
        border-radius: 40px;

        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
    }

        .first,
        .second,
        .third {
            display: flex;
            justify-content: center;
            align-items: center;
        }


    .contact {
        background-color: brown;
    }